In [14]:
import pandas as pd
df = pd.DataFrame(
        {'A':['a1','b2','c3'],
         "B": ["a100", "bb20", "c1"]
    })
df

    A     B
0  a1  a100
1  b2  bb20
2  c3    c1

`extract the number`

In [15]:
pattern = "(^\w)"

In [16]:
df["letters"] = df["A"].str.extract(pattern)

In [17]:
df

    A     B letters
0  a1  a100       a
1  b2  bb20       b
2  c3    c1       c

In [18]:
pattern = "(\d$)"

In [19]:
df["numbers"] = df["A"].str.extract(pattern)

In [20]:
df

    A     B letters numbers
0  a1  a100       a       1
1  b2  bb20       b       2
2  c3    c1       c       3

In [25]:
df["letters_new"] = df["B"].str.extract("(\D+)")

In [26]:
df

    A     B letters numbers letters_new
0  a1  a100       a       1           a
1  b2  bb20       b       2          bb
2  c3    c1       c       3           c

`extract two things`

In [39]:
df[["col_1", "col_2"]] = df["A"].str.extract("([a-z])([0-9])")

In [40]:
df

    A     B letters numbers letters_new col_1 col_2
0  a1  a100       a       1           a     a     1
1  b2  bb20       b       2          bb     b     2
2  c3    c1       c       3           c     c     3

In [41]:
import re

In [42]:
number = "hello my id is 1234567890 and my number is 34567890"

In [43]:
pattern = "\d+"

In [46]:
re.findall(pattern, number)

['1234567890', '34567890']

In [47]:
subs = "KJBHJKHBVJNKHBNV"

In [49]:
re.sub(pattern, subs, number)

'hello my id is KJBHJKHBVJNKHBNV and my number is KJBHJKHBVJNKHBNV'