## RECAP: working on a lab

#### Downloading
1. Fork
2. Git clone the_link (https://...)
    - It is the fork, what you're cloning
    
    
#### Working on it
3. Make changes
git status

#### Uploading
4. Git add the_file_to_be_tracked
git status
5. git commit -m "meaningful message"
"fixed the bug for this part of the code"
git status
6. git push origin main (default it's the main branch) 

master -> main: another default
7. check online if needed


#### Pull request
8. Pull request: 
    - Pull request tab on your repo & create pull request
    - Contribute
    - Leave comment if you want, leave meme if you want
    
9. Pull request is only done once
    - We'll always see the latest version
    - You can do pull request and then more commits
    - Pull request: AT LEAST one commit

#### Pulling someone else's changes after I made some othersbut I don't want to keep them: my code will be overwritten

"""error: Your local changes to the following files would be overwritten by merge:
wp-content/w3tc-config/master.php
Please, commit your changes or stash them before you can merge."""

1. `git stash` (to save without commiting)
2. `git pull --force`

# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

[PEP-8](https://peps.python.org/pep-0008/)

In [15]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cell-types-in-Jupyter-Notebook" data-toc-modified-id="Cell-types-in-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cell types in Jupyter Notebook</a></span><ul class="toc-item"><li><span><a href="#Markdown" data-toc-modified-id="Markdown-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Markdown</a></span></li></ul></li><li><span><a href="#Titles" data-toc-modified-id="Titles-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Titles</a></span><ul class="toc-item"><li><span><a href="#Code" data-toc-modified-id="Code-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Code</a></span></li><li><span><a href="#Shortcuts" data-toc-modified-id="Shortcuts-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Shortcuts</a></span></li></ul></li><li><span><a href="#Integer-numbers" data-toc-modified-id="Integer-numbers-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Integer numbers</a></span></li><li><span><a href="#Real-numbers-(floats)" data-toc-modified-id="Real-numbers-(floats)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Real numbers (floats)</a></span></li><li><span><a href="#Basic-operations" data-toc-modified-id="Basic-operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic operations</a></span><ul class="toc-item"><li><span><a href="#built-in-and-imported-things" data-toc-modified-id="built-in-and-imported-things-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>built-in and imported things</a></span></li></ul></li><li><span><a href="#Strings-(character-strings)" data-toc-modified-id="Strings-(character-strings)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Strings (character strings)</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#icons" data-toc-modified-id="icons-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>icons</a></span></li></ul></li></ul></li><li><span><a href="#Casting-in-Python" data-toc-modified-id="Casting-in-Python-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Casting in Python</a></span><ul class="toc-item"><li><span><a href="#Implicit-conversion" data-toc-modified-id="Implicit-conversion-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Implicit conversion</a></span></li><li><span><a href="#explicit-conversion" data-toc-modified-id="explicit-conversion-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>explicit conversion</a></span><ul class="toc-item"><li><span><a href="#Convert-float-to-int" data-toc-modified-id="Convert-float-to-int-7.2.1"><span class="toc-item-num">7.2.1&nbsp;&nbsp;</span>Convert float to int</a></span></li><li><span><a href="#Convert-a-float-to-a-string" data-toc-modified-id="Convert-a-float-to-a-string-7.2.2"><span class="toc-item-num">7.2.2&nbsp;&nbsp;</span>Convert a float to a string</a></span></li><li><span><a href="#Convert-int-to-str" data-toc-modified-id="Convert-int-to-str-7.2.3"><span class="toc-item-num">7.2.3&nbsp;&nbsp;</span>Convert int to str</a></span></li></ul></li></ul></li><li><span><a href="#Input-and-output-data" data-toc-modified-id="Input-and-output-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Input and output data</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Input</a></span><ul class="toc-item"><li><span><a href="#Defensive-programming" data-toc-modified-id="Defensive-programming-8.1.1"><span class="toc-item-num">8.1.1&nbsp;&nbsp;</span>Defensive programming</a></span></li></ul></li><li><span><a href="#Print" data-toc-modified-id="Print-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Format" data-toc-modified-id="Format-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Format</a></span><ul class="toc-item"><li><span><a href="#Format---1" data-toc-modified-id="Format---1-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Format - 1</a></span></li><li><span><a href="#Format---2" data-toc-modified-id="Format---2-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Format - 2</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#String-methods" data-toc-modified-id="String-methods-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>String methods</a></span></li></ul></li><li><span><a href="#Data-structures" data-toc-modified-id="Data-structures-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Data structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#list-methods" data-toc-modified-id="list-methods-11.1.1"><span class="toc-item-num">11.1.1&nbsp;&nbsp;</span>list methods</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#sets" data-toc-modified-id="sets-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Cell types in Jupyter Notebook

### Markdown

# Titles
## Subtitles
### More subtitles
**bold**
_italics_

[This is google](https://www.google.es)

![Space cat](https://assets1.cbsnewsstatic.com/hub/i/2012/02/01/12d01587-a644-11e2-a3f0-029118418759/Space_Cats_copy.jpg)

### Code

In [ ]:
print("Hello world!")

### Bash through notebooks

In [14]:
!ls #Command Line Interface (CLI) command

1.1 - Bash.ipynb                     2.1- Intro Python - Data types.ipynb
1.2- Git and Github.ipynb            2.2- Flow control.ipynb

### Shortcuts

To run the cell

- `ctrl + enter`
- `shift + enter` #this one runs the cell and jumps to the next one

- `a` for new cell above
- `b` for new cell below
- `d + d` for shortcut mode

- `m` or `y` for switching between markdwon and code

# Type of data
## Integer numbers

In [16]:
a_number = 3

In [17]:
print(a_number)

3

In [19]:
a_number

3

In [20]:
another_number = 20

In [25]:
print(another_number) # 20
a_number #3

# The last variable is the one to be printed

20

3

In [26]:
print(another_number, a_number)

20 3

## Real numbers (floats)

In [31]:
a_second_number = 0.3 #always dots for floats

In [32]:
a_second_number

0.3

In [33]:
type(a_second_number)

float

In [34]:
a_third_number = "9.5"

In [35]:
print(a_third_number)

9.5

In [38]:
type(a_third_number)

str

## Basic operations

In [39]:
a = 10
b = 20

In [40]:
# Additions
a + b

30

In [42]:
# Substractions
a - b

-10

In [44]:
# Multiplication

a * b

200

In [43]:
# Divisions

a / b

0.5

In [62]:
# Floor division: rounded down division

b // a

3

In [53]:
a = 3
b = 10

In [63]:
# Module

b % a # The remainder

1

In [65]:
a = 10

In [68]:
11 / 2

5.5

In [72]:
13 % 2

1

In [75]:
if a % 2 == 0: #if remainder is 0
    print("Even!")# it means: it's even. otherwise it's odd

Even!

In [76]:
a + b
a * b
a / b

0.5

### built-in and imported things

methods = functions = things that do things

- print is a method
- sum is a method

some are built-in into python version
asome need to be imported

In [8]:
# pip/conda install something (library)
# import the library

In [86]:
print("Helloooo")

Helloooo

In [77]:
import math

In [90]:
math.floor(3456789.3456789) #rounds dowm

3456789

In [91]:
math.ceil(3456789.3456789) #rounds up

3456790

In [92]:
import statistics
statistics.log(10)

2.302585092994046

## Strings (character strings)

In [95]:
# word between quotes
# values within/between quotes
# piece of text

# Chain of characters (within quotes)

In [98]:
"3w4e5r7guh ijok😇ñ,"

'3w4e5r7guh ijok😇ñ,'

In [100]:
'3w4e5r7guh ijok😇ñ,'

'3w4e5r7guh ijok😇ñ,'

In [104]:
"""dxfgchvjbknm,.- end of line 1
asasadsend of line 2

sdsdsdend of line 4"""

'dxfgchvjbknm,.- end of line 1\nasasadsend of line 2\n\nsdsdsdend of line 4'

In [105]:
print("""dxfgchvjbknm,.- end of line 1
asasadsend of line 2

sdsdsdend of line 4""")

dxfgchvjbknm,.- end of line 1
asasadsend of line 2

sdsdsdend of line 4

In [ ]:
# \n: line break

In [107]:
'sdsddsd'

'sdsddsd'

In [110]:
"I donddt know" #quotes always have to match

"I don't know"

#### icons

In [148]:
# icons on macOS: ctrl + command + space
# icons on windows: windows key & .

## Casting in Python

In [11]:
# int
# floats
# str

Casting means converting one data type to another. We have previously seen types such as int, string or float. Well, it is possible to convert from one type to another.
But first of all, let's see the different types of cast or type conversion that can be done. There are two:

**Implicit conversion:** This is done automatically by Python. It occurs when we perform certain operations with two different types.

**Explicit conversion:** We do this explicitly, such as converting str to int with str().

### Implicit conversion
This type conversion is done automatically by Python, practically without our realizing it. Still, it's important to know what's going on underneath to avoid future problems.

The simplest example where we can see this behavior is the following:

- a is an int
- b is a float

But if we add a and b and store the result in a, we can see how internally Python has converted the int to float to perform the operation, and the resulting variable is float.
However, there are other cases where Python is not as smart and is not capable of performing the conversion. If we try to add an int to a string, we will get a TypeError.

In [112]:
a = 10 # type: int
b = 3.0 # type: float

In [113]:
c = a * b

In [114]:
print(c)

# 1. int: 30
# 2. float: 30.0
# 3. Error: mixing data-types

30.0

### explicit conversion
On the other hand, we can make conversions between types or castings explicitly using different functions provided by Python. The most used are the following:

`float(), str(), int(), list(), set()`

#### Convert float to int
To convert from float to int we must use int(). But be careful, because the integer type cannot store decimals, so we will lose whatever is after the decimal point.

In [118]:
a = 10
print(float(a))

10.0

#### Convert a float to a string
We can convert a float to a string with str(). We can see in the following code how the type of a changes after the cast.

In [123]:
a = 10.98765

In [126]:
stringified_version = str(a)
stringified_version

'10.98765'

In [125]:
stringified_version * 2

# 1. Error: can't multiply strings
# 2. 21.23434
# 3. Same thing twice

'10.9876510.98765'

In [127]:
stringified_version + 2

# 1. Error: can't add strings
# 2. 12...
# 3. Same thing + 2

TypeError: can only concatenate str (not "int") to str

In [129]:
str(234567) + " sdsd " + stringified_version + " " + str(2)

'234567 sdsd 10.98765 2'

#### Convert int to str
Like the conversion to float above, we can convert from string to int using int().

## Input and output data
### Input
To assign a variable to a value entered by the user at the console, use the statement
``python
input(message) : Displays the message of the string by the terminal and returns a string with the input
  ```

In [142]:
a_number = int(input("Enter a number: "))
a_number

Enter a number: 10

10

In [135]:
a_number / 2

5.0

#### Defensive programming

In [ ]:
# We anticipate the errors before they happen
# we can control the flow of the program
# Limiting the options
    # Now we can only input numbers
    # before anything would go

### Print
The print() function prints the specified message to the screen, or to another standard output device.

The message can be a string, or any other object, the object will be converted to a string before being written to the screen.

In [145]:
greeting = "Hellooooo"

In [146]:
type(greeting)

str

In [147]:
type(print(greeting))

Hellooooo

NoneType

In [149]:
type(greeting)

str

In [ ]:
# Prints instead of return: warning

## Format

### Format - 1

In [157]:
name = "Santi"

In [158]:
age = 24

In [161]:
greeting = "Hello my name is " + name + "and my age is " + str(age)
greeting

'Hello my name is Santiand my age is 24'

In [162]:
greeting = "Hello my name is ", name, "and my age is ", str(age)
greeting

('Hello my name is ', 'Santi', 'and my age is ', '24')

In [163]:
type(greeting)

# 1. String
# 2. List
# 3. Tuple
# 4. CSV: comma separated values?

tuple

In [165]:
greeting = f"Hello my name is {name} and my age is {age}"
greeting

'Hello my name is Santi and my age is 24'

### Format - 2

In [167]:
greeting = "Hello my name is {} and my age is {}".format(name, age)
greeting

'Hello my name is Santi and my age is 24'

## Strings

### String methods
Methods are actions or functions that an object can perform. Just as Python offers a series of “built-in” functions, it also offers us a set of already created methods. These methods depend on the type of object we are working with.

In [168]:
sample_string = "this is a string"

We are going to explain in class some of the most used methods during bootcamp, keep in mind that you always have to keep in mind the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods )

`capitalize` Returns a copy of the string with its first character uppercase and the rest lowercase.

In [172]:
"this is a string".capitalize()
#"This is a string"

'This is a string'

In [170]:
"this is a string".upper()
#"THIS IS A STRING"

'THIS IS A STRING'

In [176]:
sample_upper = sample_string.upper()
sample_upper

'THIS IS A STRING'

`upper` Returns a copy of the string with all characters in uppercase

In [177]:
print(sample_upper)

THIS IS A STRING

`isupper` Returns True if all uppercase characters in the string are uppercase and there is at least one uppercase character, False otherwise.

In [179]:
sample_upper.isupper()

True

`lower` Returns a copy of the string with all lowercase characters

In [180]:
sample_upper = sample_upper.lower()
sample_upper

'this is a string'

`islower` is like isupper but....we check for lowercase

In [181]:
sample_upper.islower()

# 1. error
# 2. True
# 3. False

True

`swapcase` Returns a copy of the string with uppercase characters converted to lowercase and vice versa.

In [185]:
sample_upper = "this iS a SSString"

In [186]:
sample_upper.swapcase()

'THIS Is A sssTRING'

`title` Returns an uppercase version of the string in which words start with an uppercase character and all other characters are lowercase.

In [187]:
sample_upper.title()

'This Is A Ssstring'

`join(iterable)`

Returns a string that is the concatenation of the strings in the iterable. A TypeError will be raised if there are any non-string values ​​in the iterable, including bytes objects. The separator between elements is the string provided by this method.

In [188]:
list_of_strings = ["Santi", "Clara", "Laura", "Albert"]

In [192]:
" 🥸 ".join(list_of_strings)

'Santi 🥸 Clara 🥸 Laura 🥸 Albert'

`startswith` Returns True if the string starts with the prefix, otherwise returns False. prefix can also be a tuple of prefixes to search for. With optional start, check the string starting at that position. With optional end, stop matching the string at that position.

In [196]:
number = "3434567"

In [197]:
number.startswith("+")

False

`endswith` Returns True if the string ends with the specified suffix, otherwise returns False.

In [198]:
number.endswith("0")

False

`str.lstrip([chars])`
Returns a copy of the string with the leading characters removed. The chars argument is a string that specifies the set of characters to remove. If omitted or none present, the chars argument removes whitespace by default. The chars argument is not a prefix, but all combinations of its values ​​are removed:

In [203]:
number = " +345678 "

In [204]:
number.strip()

'+345678'

In [205]:
number.lstrip()

'+345678 '

`lstrip` and `rstrip` do the same thing but with leading and trailing spaces

`str.replace(old, new[, count])`
Returns a copy of the string with all occurrences of the substring old replaced by new. If the optional count argument is given, only the first occurrences of count are replaced.

In [207]:
number.replace("+", "")

' 345678 '

`str.split(sep=None)`
Returns a list of the words in the string, using sep as the delimiter string.

In [218]:
sentence = "Hello my name is Santo"

In [219]:
sentence.split(" ")

['Hello', 'my', 'name', 'is', 'Santo']

In [220]:
sentence.split("e")

['H', 'llo my nam', ' is Santo']

## Data structures
There are 4 elements in python that allow us to store collections of data.
- Lists
- Tuples
- sets
- Dictionaries

### Lists

Lists can contain different types of data

In [227]:
my_list = [1, "13", 4.5, 46, [1, 2, 3]]

In [228]:
type(my_list)

list

In [229]:
len(my_list)

5

In [233]:
my_list(4) #trying to call a function ()

TypeError: 'list' object is not callable

In [235]:
my_list[4] # if len was 5...?

[1, 2, 3]

In [236]:
# it starts with 0

In [238]:
my_list[-1]

[1, 2, 3]

In [ ]:
# [-2]

In [243]:
for index in range(len(my_list)):
    print(f"index: {index}, element: {my_list[index]}")

index: 0, element: 1
index: 1, element: 13
index: 2, element: 4.5
index: 3, element: 46
index: 4, element: [1, 2, 3]

In [246]:
my_list

[1, '13', 4.5, 46, [1, 2, 3]]

In [251]:
the_list = my_list[-1]
the_list

[1, 2, 3]

In [252]:
the_list[1]

2

In [253]:
my_list[-1][1]

2

In [144]:
type(print("Hellooooo"))

# 1. String

Hellooooo

NoneType

In [232]:
# 1. end of the list
# 2. type(what i find)

#my_list.index
#lengttn
last_element = my_list[-1] #1
type(last_element) #2

list

#### list methods
`append` Adds an item to the end of the list.

In [254]:
my_list

[1, '13', 4.5, 46, [1, 2, 3]]

In [255]:
new_element = "🧐"

In [256]:
my_list.append(new_element)

In [257]:
my_list

[1, '13', 4.5, 46, [1, 2, 3], '🧐']

`extend` Extend the list by adding all the items in the iterable to it

In [258]:
new_element = ["$", "€", "pounds"]

In [ ]:
# [1, '13', 4.5, 46, [1, 2, 3], '🧐', "$", "€", "pounds"]
#[1, '13', 4.5, 46, [1, 2, 3], '🧐', ["$", "€", "pounds"]]

In [259]:
my_list.extend(new_element)

In [260]:
my_list

[1, '13', 4.5, 46, [1, 2, 3], '🧐', '$', '€', 'pounds']

`insert` Inserts an item at a given position. The first argument is the index of the item to be inserted before, so a.insert(0, x) inserts at the beginning of the list and a.insert(len(a), x) is equivalent to a.append(x ).

In [261]:
my_list.insert(0, "Inserted value")

In [262]:
my_list

['Inserted value', 1, '13', 4.5, 46, [1, 2, 3], '🧐', '$', '€', 'pounds']

In [263]:
my_list.insert(2, "NEW") # new and then 13

In [264]:
my_list

['Inserted value', 1, 'NEW', '13', 4.5, 46, [1, 2, 3], '🧐', '$', '€', 'pounds']

`remove` Removes the first item in the list whose value is x. Throws a ValueError if no such item exists.

In [266]:
my_list.append(1)

In [268]:
print(my_list) #position 1 & position -1

['Inserted value', 1, 'NEW', '13', 4.5, 46, [1, 2, 3], '🧐', '$', '€', 'pounds', 1]

In [273]:
my_list.remove(1)

ValueError: list.remove(x): x not in list

In [272]:
my_list

['Inserted value', 'NEW', '13', 4.5, 46, [1, 2, 3], '🧐', '$', '€', 'pounds']

In [274]:
my_list.append("€")

In [284]:
# count
my_list.count("€")

2

In [283]:
# for loop
counter = 0
for i in my_list:
    if i == "€":
        counter += 1
counter

2

In [290]:
for i in range(8): #twice
    print(i)

0
1
2
3
4
5
6
7

In [286]:
my_list

['Inserted value', 'NEW', '13', 4.5, 46, [1, 2, 3], '🧐', '$', 'pounds', '€']

In [ ]:
# remove: twice

`pop` Pops the item at the given position from the list and returns it. If no index is specified, a.pop() pops and returns the last element in the list.

In [297]:
my_list

['Inserted value', 'NEW', 46, [1, 2, 3], '🧐', '$', 'pounds', '€']

In [300]:
element = my_list.pop(1) # taking out element[2]
element

46

In [299]:
my_list

['Inserted value', 46, [1, 2, 3], '🧐', '$', 'pounds', '€']

`clear` Removes all elements from the list

In [301]:
my_list.clear()

In [302]:
my_list

[]

In [303]:
my_list = ['Inserted value', 46, [1, 2, 3], '🧐', '$', 'pounds', '€']

In [305]:
my_list[2:5] # slicing

[[1, 2, 3], '🧐', '$']

`count` Returns the number of times x appears in the list.

`list.sort()` See also [sorted()](https://docs.python.org/3/howto/sorting.html).

In [308]:
my_list_2 = [234, 4, 1000000, 4, 5,6 ]

In [309]:
my_list_2.sort()

In [310]:
my_list_2

[4, 4, 5, 6, 234, 1000000]

In [311]:
my_list_2.sort(reverse=True)

In [312]:
my_list_2

[1000000, 234, 6, 5, 4, 4]

`list.reverse()`
Reverses list items in place.

In [313]:
my_list

['Inserted value', 46, [1, 2, 3], '🧐', '$', 'pounds', '€']

In [314]:
my_list.reverse()

In [315]:
my_list

['€', 'pounds', '$', '🧐', [1, 2, 3], 46, 'Inserted value']

In [324]:
my_list[::2] # in steps of 2, even indexe

['€', 'pounds', '$', '🧐', [1, 2, 3], 46, 'Inserted value']

In [317]:
my_list[::-1] #reversing through indexing

['Inserted value', 46, [1, 2, 3], '🧐', '$', 'pounds', '€']

`slicing` is not a method as such, but we can play with the elements of the lists and their positions

`start, stop, step`

In [339]:
my_list[2:-1]

['$', '🧐', [1, 2, 3], 46]

In [344]:
my_list[2:-1][1]

'🧐'

In [350]:
my_list[2:-1][2][1] # the one in the middle

2

In [349]:
my_list[2:-1][2][1:-1][0] # slicing and indexing

2

In [351]:
# lists ✅
# tuples
# sets
# dictionaries

### Tuples

Tuples in Python are a data type or structure that allows you to store data in much the same way as lists, except that they are immutable. So we will not be able to:
 - change your items
 - add new values

In [352]:
[]

[]

In [353]:
()

()

In [355]:
a = 10

In [356]:
a,

(10,)

In [357]:
# Data that is not supposed to change
# Python internally uses tuples to manage variables
    # tuples & arguments

In [360]:
mytuple = (34567, 3445, 45456)

In [361]:
mylist = [34567, 3445, 45456]

In [362]:
for i in mytuple:
    print(i)

34567
3445
45456

In [363]:
for i in mylist:
    print(i)

34567
3445
45456

In [389]:
def addition (original_value, b):
    multiplication = original_value * b
    return original_value, multiplication

In [390]:
addition(4, 3)

(4, 12)

In [391]:
original, mult = addition (4, 3)

In [392]:
original

4

In [393]:
mult

12

In [394]:
type((4, 12))

tuple

In [395]:
my_tuple = (4, 12)

In [396]:
for i in my_tuple:
    print(i)

4
12

In [400]:
my_tuple[0]

4

In [401]:
my_tuple.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [402]:
# turning into a list

In [403]:
# 1. Turn your tuple into a list
# 2. Append element to list
# 3. Change it back to a tuple

Advantages of tuples
 * faster
 * The data cannot be modified
 
It is also possible that we use tuples when we want to return multiple values ​​in the `return` of a function

### sets
Sets are used to store multiple elements in a single variable. Unlike lists, they contain single elements and do not have an order.

![sets are venn diagrams](https://mathworld.wolfram.com/images/eps-svg/VennDiagram_900.svg)

In [ ]:
# lists ✅, []
# tuples ✅, ()
# sets {1, 2}
# dictionaries {key:values, key2:value2}

`add` Adds an element to the set

In [404]:
my_first_set = {1, 2, 35, 2, 2, 2, 1}

In [405]:
type(my_first_set)

set

In [406]:
type({})

dict

In [407]:
my_new_data_structure = {} #it'll be a dictionary

In [ ]:
my_first_set = {1, 2, 35, 2, 2, 2, 1}

In [408]:
my_first_set.add(2)

In [409]:
my_first_set

{1, 2, 35}

In [417]:
set([1, "a", 2, 4, 45, "-", 1, "z", 1, 1,3 ,33, 2, "sdsd"])
# useful for unique values

{'-', 1, 2, 3, 33, 4, 45, 'a', 'sdsd', 'z'}

`clear` Clears all elements of the set

`copy` Returns a copy of the set

`difference()` Returns a set containing the difference between two or more sets. What it actually returns are the elements that are ONLY in the first set.

In [420]:
set_2 = {1, 2, 3, 4, 5, 6}
set_3 = {3, 4, 5, 6, 7}

In [422]:
set_2.difference(set_3)

{1, 2}

In [423]:
set_3.difference(set_2)

{7}

`discard` & `remove`: The built-in method, discard() in Python, removes the element from the set only if the element is present in the set. If the element is not present in the set, then no error or exception is raised and the original set is printed.

`discard` Removes the specified element

`remove` Removes the specified element

In [424]:
set_3

{3, 4, 5, 6, 7}

In [425]:
set_3.remove(7)

In [426]:
set_3

{3, 4, 5, 6}

In [428]:
set_3[0] # they are not indexed
# sets dont have any order

TypeError: 'set' object is not subscriptable

In [430]:
my_list = [1345, 34, 34] 
my_list[0]

1345

In [431]:
my_tuple = (1345, 34, 34)
my_list[0]

1345

`intersection()` Returns a set that is the intersection of two or more sets

In [432]:
print(set_2)
print(set_3)

{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6}

In [433]:
set_2.intersection(set_3)

{3, 4, 5, 6}

In [434]:
set_3.intersection(set_2)

{3, 4, 5, 6}

`issubset` Returns whether or not another set contains this set

In [436]:
set_3.issubset(set_2)

True

`issuperset` Returns whether this set contains another set or not

In [437]:
set_2.issuperset(set_3)

True

`pop` Removes an element from the set. It eliminates the "ordered" set element. element of a set and, in addition, it returns it to us. Differentiates from lists that have no parameters to pass an index to

In [474]:
set_2 = {1, 2, 3, 4, 6, 10, 7, 9, 20, 8}

In [475]:
set_2.pop()

1

In [476]:
set_3

{3, 4, 5, 6}

In [477]:
set_3.pop(4)

TypeError: set.pop() takes no arguments (1 given)

`union` Returns a set containing the union of sets

In [478]:
set_2

{2, 3, 4, 6, 7, 8, 9, 10, 20}

In [484]:
set_3 = {3, 4, 5, 6, 20}

In [481]:
set_4 = set_2.union(set_3)

In [483]:
set_4

{2, 3, 4, 5, 6, 7, 8, 9, 10, 20}

`update` Updates the set with another set, or any other iterable. Doesn't return a new one, just update the old one.

In [488]:
# lists ✅, []
# tuples ✅, ()
# sets ✅ {1, 2}
# dictionaries {key:values, key2:value2}

### Dictionaries

In [497]:
student = ["Nerea", "Larrachea", "Mexico"]
student_2 = ["Santi", "Aguilar", 24, "Barcelona"]

In [498]:
print(student[2])
student_2[2]

Mexico

24

In [510]:
nerea = {
    "name":"Nerea",
    "fname": "Larrachea",
    "city":"Mexico"
}

In [525]:
santi = {
    "name":"Santi",
    "fname": "Aguilar",
    "age": 24,
    "another number":24
}

In [526]:
nerea

{'name': 'Nerea', 'fname': 'Larrachea', 'city': 'Mexico'}

In [527]:
santi

{'name': 'Santi', 'fname': 'Aguilar', 'age': 24, 'another number': 24}

In [528]:
nerea["fname"]

'Larrachea'

In [529]:
# dict_[key] -> value
# spanish_dictionary[word] -> definition

In [530]:
list(santi.items())

[('name', 'Santi'), ('fname', 'Aguilar'), ('age', 24), ('another number', 24)]

In [531]:
for key, value in santi.items():
    if value == 24:
        print(key)

age
another number

In [532]:
santi = {
    "name":"Santi",
    "fname": "Aguilar",
    "age": 24,
    "age": 30
}

In [534]:
santi

{'name': 'Santi', 'fname': 'Aguilar', 'age': 30}

In [533]:
santi["age"]

30

In [535]:
santi = {
    "name":"Santi",
    "fname": "Aguilar",
    "age": 24,
    "hobbies": ["padel", "data", "🍺"],
    "friends": {"Nerea": "TA", "Nico": "classmate"} 
}

In [537]:
santi.keys()

dict_keys(['name', 'fname', 'age', 'hobbies', 'friends'])

In [538]:
santi.values()

dict_values(['Santi', 'Aguilar', 24, ['padel', 'data', '🍺'], {'Nerea': 'TA', 'Nico': 'classmate'}])

In [540]:
list(santi.items())

[('name', 'Santi'),
 ('fname', 'Aguilar'),
 ('age', 24),
 ('hobbies', ['padel', 'data', '🍺']),
 ('friends', {'Nerea': 'TA', 'Nico': 'classmate'})]

In [543]:
santi = {
    "name":"Santi",
    "fname": "Aguilar",
    "age": 24,
    "hobbies": ["padel", "data", "🍺"],
    "friends": [{"Nerea": "TA", "Nico": "classmate"},
               {"Carlos": "school", "Laura":"Barrio"}]
}

In [554]:
santi["friends"][1]["Laura"]

'Barrio'

`clear` Removes all elements from the dictionary

`items()` Returns a list containing one tuple for each key-value pair

`keys` Returns a list of the keys in the dictionary

`values` Returns a list of all values ​​in the dictionary

`pop()` Removes the element with the specified key. It returns me the value.

`popitem` Removes the last inserted key-value pair

`update` Updates the dictionary with the specified key-value pairs

In [558]:
santi.update({"name": "Santiago"})

In [559]:
santi

{'name': 'Santiago',
 'fname': 'Aguilar',
 'age': 24,
 'hobbies': ['padel', 'data', '🍺'],
 'friends': [{'Nerea': 'TA', 'Nico': 'classmate'},
  {'Carlos': 'school', 'Laura': 'Barrio'}]}

In [555]:
santi

{'name': 'Santi',
 'fname': 'Aguilar',
 'age': 24,
 'hobbies': ['padel', 'data', '🍺'],
 'friends': [{'Nerea': 'TA', 'Nico': 'classmate'},
  {'Carlos': 'school', 'Laura': 'Barrio'}]}

In [557]:
list(santi.keys())

['name', 'fname', 'age', 'hobbies', 'friends']

In [561]:
santi["age"] = 20

In [562]:
santi

{'name': 'Santiago',
 'fname': 'Aguilar',
 'age': 20,
 'hobbies': ['padel', 'data', '🍺'],
 'friends': [{'Nerea': 'TA', 'Nico': 'classmate'},
  {'Carlos': 'school', 'Laura': 'Barrio'}]}

In [564]:
# append?
santi["job title"] = "TA"

In [565]:
santi

{'name': 'Santiago',
 'fname': 'Aguilar',
 'age': 20,
 'hobbies': ['padel', 'data', '🍺'],
 'friends': [{'Nerea': 'TA', 'Nico': 'classmate'},
  {'Carlos': 'school', 'Laura': 'Barrio'}],
 'job title': 'TA'}

In [566]:
a_list = ["first", "second", "third"]

In [567]:
counter = 1
for i in a_list:
    santi[i] = counter # key:value, it creates the key
    counter += 1

4

In [569]:
santi["random_key"] = "🤷‍♂️"

In [571]:
santi #Gerard: classmate

{'name': 'Santiago',
 'fname': 'Aguilar',
 'age': 20,
 'hobbies': ['padel', 'data', '🍺'],
 'friends': [{'Nerea': 'TA', 'Nico': 'classmate'},
  {'Carlos': 'school', 'Laura': 'Barrio'}],
 'job title': 'TA',
 'first': 1,
 'second': 2,
 'third': 3,
 'random_key': '🤷\u200d♂️'}

In [573]:
santi["friends"].append({"Gerard":"classmate"})

In [574]:
santi

{'name': 'Santiago',
 'fname': 'Aguilar',
 'age': 20,
 'hobbies': ['padel', 'data', '🍺'],
 'friends': [{'Nerea': 'TA', 'Nico': 'classmate'},
  {'Carlos': 'school', 'Laura': 'Barrio'},
  {'Gerard': 'classmate'}],
 'job title': 'TA',
 'first': 1,
 'second': 2,
 'third': 3,
 'random_key': '🤷\u200d♂️'}

In [576]:
santi["friends"].remove({'Gerard': 'classmate'})

In [579]:
santi["friends"][0].update({'Gerard': 'classmate'})

In [581]:
santi["friends"][0]['Gonzalo'] = 'classmate'

In [584]:
santi["friends"][0]["Gonzalo"]

'classmate'

In [585]:
santi["friends"]

[{'Nerea': 'TA',
  'Nico': 'classmate',
  'Gerard': 'classmate',
  'Gonzalo': 'classmate'},
 {'Carlos': 'school', 'Laura': 'Barrio'}]

In [586]:
len(santi["friends"])

2

In [598]:
counter = 0
for i in santi["friends"]: #twice
    how_many = len(i.keys()) # 4, 2
    counter += how_many
counter

6

In [597]:
santi["friends"]

[{'Nerea': 'TA',
  'Nico': 'classmate',
  'Gerard': 'classmate',
  'Gonzalo': 'classmate'},
 {'Carlos': 'school', 'Laura': 'Barrio'}]

In [596]:
len(santi["friends"][0].keys())

4

## Summary
It's your turn, what have we learned today?

In [599]:
a = 10,

In [600]:
a

(10,)

# Recap on git
    - 1. Fork
    - 2. clone
    - 3. work on it
    - 4. Git status
    - 5. git add
    - 6. Git status
    - 7. git commit -m "meaningful/descriptive message"
    - 8. git push origin main
    
    "pull or clone?"
    clone -> donwload the whole thing as a unit
    pull -> update the changes you don't have INTO your clone


# Notebooks
    - differnt types of cells: code (Y), markdwon (M)
    - Run: ctrl + enter / shift + enter
    - KERNEL: temp memory. needs to be reseted some times


# DATA TYPES

- strings
    - methods for strings: return a copy
        - they don't modify the original object
        - save it into a variable
- int
- floats

# DATA STRUCTURES

- Lists
    - They ARE indexed: positions[1]
    - [, , , , , ]
    - Can take any type of data type
    - mutable
    - append, extend, remove, clear, etc
    - loop through them
    
- Tuples
    - (, , , ,)
    - Not modifiable (too much)
    - Faster
    - Python uses it: dict_.items(): [(key, value), ()...
    - Python uses tuples for functions and other things
     
- Set
    - {, , , }
    - They don't an order (only printed)
    - UNIQUE values
    - Intersection/union/difference
    - Any type of data

- Dictionaries
    - {key:value, key:value}
    - They can be repeated: values
        - Keys are unique
    - Mutable
    - Create new keys:
       - One way: `dict_.update({key:value})`
       - Another approach: `dict_["key"] = "value"`
    -  Nestedness:
        - Values can be data types of data structures
            - with more dictionaries within and so on
            
    - Think of what something gives you: what type of data am I getting?
 
    santi["friends"]
        - a list?
        - a dictionary?
        - value?