# Functional Programming

![elgif](https://media.giphy.com/media/CuMiNoTRz2bYc/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Your-contributions-🚀" data-toc-modified-id="Your-contributions-🚀-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Your contributions 🚀</a></span></li><li><span><a href="#What-is-functional-programming?:-paradigms" data-toc-modified-id="What-is-functional-programming?:-paradigms-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is functional programming?: paradigms</a></span></li><li><span><a href="#Built-in-functions" data-toc-modified-id="Built-in-functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Built-in functions</a></span></li><li><span><a href="#USER---DEFINED-FUNCTIONS" data-toc-modified-id="USER---DEFINED-FUNCTIONS-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>USER - DEFINED FUNCTIONS</a></span><ul class="toc-item"><li><span><a href="#def" data-toc-modified-id="def-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>def</a></span></li><li><span><a href="#name" data-toc-modified-id="name-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>name</a></span></li><li><span><a href="#parameters" data-toc-modified-id="parameters-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>parameters</a></span></li><li><span><a href="#arguments" data-toc-modified-id="arguments-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>arguments</a></span><ul class="toc-item"><li><span><a href="#default-parameters" data-toc-modified-id="default-parameters-4.4.1"><span class="toc-item-num">4.4.1&nbsp;&nbsp;</span>default parameters</a></span></li><li><span><a href="#positional-arguments-&amp;-keyword-arguments" data-toc-modified-id="positional-arguments-&amp;-keyword-arguments-4.4.2"><span class="toc-item-num">4.4.2&nbsp;&nbsp;</span>positional arguments &amp; keyword arguments</a></span></li><li><span><a href="#*args" data-toc-modified-id="*args-4.4.3"><span class="toc-item-num">4.4.3&nbsp;&nbsp;</span><code>*args</code></a></span></li><li><span><a href="#**kwargs" data-toc-modified-id="**kwargs-4.4.4"><span class="toc-item-num">4.4.4&nbsp;&nbsp;</span>**kwargs</a></span></li><li><span><a href="#order" data-toc-modified-id="order-4.4.5"><span class="toc-item-num">4.4.5&nbsp;&nbsp;</span>order</a></span></li></ul></li><li><span><a href="#return" data-toc-modified-id="return-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>return</a></span></li><li><span><a href="#Docstrings:-documentation-strings" data-toc-modified-id="Docstrings:-documentation-strings-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Docstrings: documentation strings</a></span></li><li><span><a href="#source-code" data-toc-modified-id="source-code-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>source code</a></span></li></ul></li><li><span><a href="#Scope-of-functions" data-toc-modified-id="Scope-of-functions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Scope of functions</a></span></li><li><span><a href="#Lambda" data-toc-modified-id="Lambda-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Lambda</a></span><ul class="toc-item"><li><span><a href="#Syntax-of-a-lambda" data-toc-modified-id="Syntax-of-a-lambda-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Syntax of a lambda</a></span></li><li><span><a href="#lambda-examples" data-toc-modified-id="lambda-examples-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>lambda examples</a></span></li><li><span><a href="#lambda--as-the-option-of-some-other-built-in-functions" data-toc-modified-id="lambda--as-the-option-of-some-other-built-in-functions-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>lambda</code>  as the option of some other built-in functions</a></span></li></ul></li><li><span><a href="#Functions:-functions-as-return-of-another-function" data-toc-modified-id="Functions:-functions-as-return-of-another-function-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Functions: functions as return of another function</a></span></li><li><span><a href="#Recursion" data-toc-modified-id="Recursion-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Recursion</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>


- sets have unique vfalues
- navigating the terminal: ls
- download a file from git: git clone
- print: debugging
- fork: copy a repo under your name
- commit: take a screenshot of the repo
- github: VSC & groups & cloud
- ITERATIONS: for loops & while loops
    - action that is repeated for as long as something
        - when there's a condition (while)
            - for loop going over the elements of a structure/data type
        - when there's things: elements in a list
- method: code that does things. 
- slice: method? (no)
    - separates things inside of a structure (could also be strings)
    - list_[]
    - through the index! 
- add, remove
- ITERATIONS: iterables. Lists, tuples, sets and dicts & strings
- Control flow: 
    - pass, break, continue
    - if/else/elif
        - if: many condtions
        - elif: different levels
        - else: everything else
      
    - if vs if/elif: 
        - if & if: met a lot of conditions
        - if & elif: mutually exclusive conditions

## Your contributions 🚀
What do you think functions do/what properties do they have? Whare they useful for?

#### A function is/does: ...

- "make the programm do something specific" -> specificity
- "Functions return results" -> return
- "You can call it later" -> defining & calling / re-use
- "It's adaptable to your needs" -> parameters
- "Individual" -> user-defined
- "you can define functions"
- "- method: code that does things. "
- "Method is a function" 
- "Functions can be imported/exported"
- "You can iterate passing a function"



- Can you export functions?: imports/exports

## What is functional programming?: paradigms
What does it mean that Python is multi-paradigm?
According to Wikipedia:

“Python is an interpreted programming language whose philosophy emphasizes the readability of its code. It is a multiparadigm programming language, since it supports object orientation, imperative programming and, to a lesser extent, functional programming.

It means that it accepts different ways of working with language. Basically there are 3 predominant paradigms, or in other words, 3 global formats to organize a code.

- **Imperative programming (structured)**: the code will be executed from the beginning of the file to the end without following any type of deviation. Its biggest advantage lies in its simplicity and low weight. Its danger is the spaghetti code, files with hundreds or thousands of lines where only a few human beings are able to modify and emerge victorious. It can look like this:

In [10]:
import pandas as pd
df = pd.read_csv("../datasets/avocado_kaggle.csv")
df.drop(columns=["Unnamed: 0"], inplace=True)
df[["Date", "AveragePrice"]]

             Date  AveragePrice
0      2015-12-27          1.33
1      2015-12-20          1.35
2      2015-12-13          0.93
3      2015-12-06          1.08
4      2015-11-29          1.28
...           ...           ...
18244  2018-02-04          1.63
18245  2018-01-28          1.71
18246  2018-01-21          1.87
18247  2018-01-14          1.93
18248  2018-01-07          1.62

[18249 rows x 2 columns]

- **Object Oriented Programming (OOP or Object Oriented Programming)**: where variables and functions are encapsulated in small modules capable of being cloned and modified. Its strong point is the ability to reuse and isolate to avoid problems with other features. The negative part lies in the complexity of creating good objects and debugging. It can look like this:

```python
class Car(object):
    def __init__(self, model, passengers, color, speed):
        self.model = model
        self.passengers = passengers
        self.color = color
        self.speed = speed

    def accelerate(self):
        self.speed = self.speed + 2
        print (self.speed)

bmw = Car("BMW", 4, "red", 5)
ferrari = Car("Ferrari", 2, "black", 10)
ford = Car("Ford", 6, "blue", 6)

bmw.accelerate()
print (bmw.color)

ferrari.accelerate()
print (ferrari.color)
ferrari.accelerate() 

print (ford.passengers)
ford.accelerate()
```

In [12]:
class Car(object):
    def __init__(self, model, passengers, color, speed):
        self.model = model
        self.passengers = passengers
        self.color = color
        self.speed = speed

    def accelerate(self):
        self.speed = self.speed + 2
        print (self.speed)

In [17]:
bmw = Car("BMW", 4, "red", 5)
ferrari = Car("Ferrari", 2, "black", 10)
ford = Car("Ford", 6, "blue", 6)

bmw.accelerate()
print (bmw.color)


ferrari.accelerate()

7
red
12

- **Functional programming (FP or Functional programming)**: where the code is divided into simple functions capable of being invoked with variables or other functions. Its ease of use by atomicity achieves robust maintainability and compatibility with almost any language. In addition, its immutability of variables avoids many of the problems that object-oriented programming suffers.

In [18]:
# Functions

def greetings (name):
    return f"Hello! My name is {name}"

In [19]:
greetings("Santi")

'Hello! My name is Santi'

In [20]:
greetings("Clara")

'Hello! My name is Clara'

In [21]:
greetings("Laura")

'Hello! My name is Laura'

In [33]:
def addition (x, y):
    return x + y

In [34]:
addition(3, 5)

8

## Built-in functions

The Python interpreter has a number of built-in functions and types that are always available. They are listed [here](https://docs.python.org/3/library/functions.html) in alphabetical order.

In [35]:
print("Hello!")

Hello!

In case of built-in functions we can't extract the code with inspect, since Python itself is written in C... the Print function looks like this 👇🏻

```C
static PyObject *
builtin_print(PyObject *self, PyObject *args, PyObject *kwds)
{
    static char *kwlist[] = {"sep", "end", "file", 0};
    static PyObject *dummy_args = NULL;
    static PyObject *unicode_newline = NULL, *unicode_space = NULL;
    static PyObject *str_newline = NULL, *str_space = NULL;
    PyObject *newline, *space;
    PyObject *sep = NULL, *end = NULL, *file = NULL;
    int i, err, use_unicode = 0;

    if (dummy_args == NULL) {
        if (!(dummy_args = PyTuple_New(0)))
            return NULL;
    }
    if (str_newline == NULL) {
        str_newline = PyString_FromString("\n");
        if (str_newline == NULL)
            return NULL;
        str_space = PyString_FromString(" ");
        if (str_space == NULL) {
            Py_CLEAR(str_newline);
            return NULL;
        }
#ifdef Py_USING_UNICODE
        unicode_newline = PyUnicode_FromString("\n");
        if (unicode_newline == NULL) {
            Py_CLEAR(str_newline);
            Py_CLEAR(str_space);
            return NULL;
        }
        unicode_space = PyUnicode_FromString(" ");
        if (unicode_space == NULL) {
            Py_CLEAR(str_newline);
            Py_CLEAR(str_space);
            Py_CLEAR(unicode_space);
            return NULL;
        }
#endif
    }
    if (!PyArg_ParseTupleAndKeywords(dummy_args, kwds, "|OOO:print",
                                     kwlist, &sep, &end, &file))
        return NULL;
    if (file == NULL || file == Py_None) {
        file = PySys_GetObject("stdout");
        /* sys.stdout may be None when FILE* stdout isn't connected */
        if (file == Py_None)
            Py_RETURN_NONE;
    }
    if (sep == Py_None) {
        sep = NULL;
    }
    else if (sep) {
        if (PyUnicode_Check(sep)) {
            use_unicode = 1;
        }
        else if (!PyString_Check(sep)) {
            PyErr_Format(PyExc_TypeError,
                         "sep must be None, str or unicode, not %.200s",
                         sep->ob_type->tp_name);
            return NULL;
        }
    }
    if (end == Py_None)
        end = NULL;
    else if (end) {
        if (PyUnicode_Check(end)) {
            use_unicode = 1;
        }
        else if (!PyString_Check(end)) {
            PyErr_Format(PyExc_TypeError,
                         "end must be None, str or unicode, not %.200s",
                         end->ob_type->tp_name);
            return NULL;
        }
    }

    if (!use_unicode) {
        for (i = 0; i < PyTuple_Size(args); i++) {
            if (PyUnicode_Check(PyTuple_GET_ITEM(args, i))) {
                use_unicode = 1;
                break;
            }
        }
    }
    if (use_unicode) {
        newline = unicode_newline;
        space = unicode_space;
    }
    else {
        newline = str_newline;
        space = str_space;
    }

    for (i = 0; i < PyTuple_Size(args); i++) {
        if (i > 0) {
            if (sep == NULL)
                err = PyFile_WriteObject(space, file,
                                         Py_PRINT_RAW);
            else
                err = PyFile_WriteObject(sep, file,
                                         Py_PRINT_RAW);
            if (err)
                return NULL;
        }
        err = PyFile_WriteObject(PyTuple_GetItem(args, i), file,
                                 Py_PRINT_RAW);
        if (err)
            return NULL;
    }

    if (end == NULL)
        err = PyFile_WriteObject(newline, file, Py_PRINT_RAW);
    else
        err = PyFile_WriteObject(end, file, Py_PRINT_RAW);
    if (err)
        return NULL;

    Py_RETURN_NONE;
}
```

In [36]:
print("hi!")

hi!

In [37]:
my_string = "This is a string"

In [38]:
print(my_string)

This is a string

In [39]:
my_string.upper()

'THIS IS A STRING'

## USER - DEFINED FUNCTIONS

- `def` 
- `name` 
- `params` 
- `args` 
-  `return`
- `docstrings` 

- `source code`

**Syntax for DEFINING a function**
```python

def name_function(input params):
    # the colon and the indentation imply being in the function
    take an action
    return() # return a certain value

```

**Syntax for CALLING a function**

`name_of_the_function(argument1, argument2, ...)`

or, if you want to save the result in a variable

`result = name_of_the_function(argument1, argument2, ...)`

### def

In [42]:
def addition (a, b):
    result = a * b
    #print(f"Hello! The result is {result}")
    return result

In [43]:
addition(10, 2)

20

### name

In [ ]:
def adder ():
    return

In [ ]:
def number_adder ():
    return

In [44]:
def number_adder_of_numbers (): #snake_case
    return

In [ ]:
# not recommended -> JavaScript
def CamelCase (): #CamelCase
    return

### parameters

`()`

In [45]:
def greetings ():
    return f"Hello!"

In [50]:
greetings()

'Hello!'

`(param_1, param_2)`

In [65]:
def greetings (other_person, myself):
    return f"Hello {other_person}! My name is {myself}"

### arguments

In [66]:
greetings("Santi", "Clara")

'Hello Santi! My name is Clara'

In [67]:
greetings("Larua", "Albert")

'Hello Larua! My name is Albert'

In [68]:
greetings("Laura", "Albert", "Santi")

TypeError: greetings() takes 2 positional arguments but 3 were given

Formal parameters for a function are listed in the function declaration and used in the body of the function definition.

An argument is what is used when referring to parameters. When you write a function call, the arguments are listed in parentheses after the function name. When the function call is executed, the arguments are inserted for the parameters.

Let's say then that the parameters are those "imaginary" variables that will have the same name in the definition and in the body of the function.
The arguments are the REAL DATA that we use when we call the function.

#### default parameters

`(param_1, param_default = defaultvalue)`

1. `greetings_default(myself, someone_else, language="en")`

In [69]:
def greetings_default(myself, someone_else, language="en"):
    if language == "en":
        return f"Hello {someone_else}! I'm {myself}"
    else:
        return f"Hola! {someone_else}, soy {myself}"

In [70]:
greetings_default("Fer", "Santi", language="en")

"Hello Santi! I'm Fer"

In [73]:
greetings_default("Fer", "Santi")

"Hello Santi! I'm Fer"

In [75]:
greetings_default("Fer", "Santi", "es")

'Hola! Santi, soy Fer'

In [80]:
number_input = input("Please enter a number: ")

Please enter a number: 345

In [79]:
number_input = input(prompt="Please enter a number: ")

Please enter a number: 456

2. `calculation (num_1, num_2, operation="+")`

In [82]:
# default arguments

# Operation
    # By default: add two numbers
    # Multiply or divide two numbers

In [94]:
def calculation (num1, num2, operation="+"):
    #  add two numbers
    if operation == "+":
        return num1 + num2
    
    # multiply
    elif operation == "*":
        return num1 * num2
    
    # divide: "/"
    elif operation == "/":
        return num1 / num2
    
    else:
        return "Watch out. This is not permitted"

In [95]:
def calculation_to_avoid (num1, num2, operation="+"):
    #  add two numbers
    if operation == "+":
        return num1 + num2
    
    # multiply
    elif operation == "*":
        return num1 * num2
    
    else:
        return num1/num2

In [96]:
calculation (10, 4, operation="+")

14

In [97]:
calculation (10, 4) # defaults we don't need to call

14

In [98]:
calculation (10, 4, "*")

40

In [99]:
calculation (10, 4, "/")

2.5

In [100]:
calculation (10, 4, "**") # else

'Watch out. This is not permitted'

In [101]:
calculation (10, 4, "//") # else

'Watch out. This is not permitted'

#### positional arguments & keyword arguments

`def addition (num_1, some_name=withavalue)`

#### `*args`
In Python, the special parameter `*args` in a function is used to optionally pass a variable number of **positional** arguments.

`two arguments`

In [124]:
def addition (a, b, c):
    return a + b + c

In [126]:
addition(10, 4, 10)

24

In [127]:
addition(1, 2) # 1: understood as the "a"

TypeError: addition() missing 1 required positional argument: 'c'

In [105]:
addition (10, 20, 30)

TypeError: addition() takes 2 positional arguments but 3 were given

`unkown number of arguments`

In [ ]:
# *args

In [118]:
def addition_unknown_number_arguments (*numbers): #*numbers: variable number of numbers
    print(f"The numbers are: {numbers}")
    return sum(numbers)

In [119]:
sum([1, 2, 2,2,2,22222222])

22222231

In [120]:
sum((2, 4, 4, 678))

688

In [121]:
addition_unknown_number_arguments (1, 2, 3, 4, 4 ,4, 1000)

The numbers are: (1, 2, 3, 4, 4, 4, 1000)

1018

In [123]:
addition_unknown_number_arguments (100, 5, 1, 23, 2332333)

The numbers are: (100, 5, 1, 23, 2332333)

2332462

In [143]:
def addition_unknown_number_arguments (*args): #*numbers: variable number of numbers
    new_list = []
    print(f"The argument passed is: {args}, of type: {type(args)}")
    for i in args: # is understood as a tuple
        new_list.append(i*2)
    
    return new_list

In [144]:
addition_unknown_number_arguments(1, 2, 3, 4, 5, "sdsd")

The argument passed is: (1, 2, 3, 4, 5, 'sdsd'), of type: <class 'tuple'>

[2, 4, 6, 8, 10, 'sdsdsdsd']

`otherwise`: errors

#### **kwargs

In [160]:
def positional_args (a, b, c, *args):
    result = a * b * c
    result_2 = sum([i**2 for i in args])
    return f"The mulitplication was {result} and the addition was {result_2}"

In [161]:
positional_args (100, -7, -10, 3, 5, 5, 3, 2, 32434, 34,34)

'The mulitplication was 7000 and the addition was 1051966740'

In [162]:
def positional_args (a, b, c, *args):
    print(f"Element a is: {a}")
    print(f"Element b is: {b}")
    print(f"Element c is: {c}")
    print(f"Element *args is: {args}")

    
    
    result = a * b * c
    result_2 = sum([i**2 for i in args])
    return f"The mulitplication was {result} and the addition was {result_2}"

In [163]:
positional_args (100, -7, -10, 3, 5, 5, 3, 2, 32434, 34,34)

Element a is: 100
Element b is: -7
Element c is: -10
Element *args is: (3, 5, 5, 3, 2, 32434, 34, 34)

'The mulitplication was 7000 and the addition was 1051966740'

In [180]:
# **kwargs

def printer_function(a, b, c, *args, **beyonce):
    
    print(f"Element a is: {a}")
    print(f"Element b is: {b}")
    print(f"Element c is: {c}")
    print(f"Element *args is: {args}")
    print(f"Element **kwargs is: {beyonce}")

In [181]:
printer_function(1, 2, 3, 100, -2, 9, 87, "Santi", whatever = "Albert", hello = "hola", numero = 10)

Element a is: 1
Element b is: 2
Element c is: 3
Element *args is: (100, -2, 9, 87, 'Santi')
Element **kwargs is: {'whatever': 'Albert', 'hello': 'hola', 'numero': 10}

In [177]:
# Error
# Santi will be an argument
# santi will be a kwargs
# Ignore Santi :(

In [210]:
# **kwargs

def printer_function(a, b, *args, **kwargs):
    
    print(f"Number 1: {a}")
    print(f"Number 2 is: {b}")
    
    print(f"My score is: {sum(args)}")
    
    print(f"My name is: {kwargs['name']}")
    
    for key, value in kwargs.items():
        print(f"My {key} is {value}")

In [246]:
# **kwargs

def printer_function(a, b, *args, **kwargs):
    
    print(f"Number 1: {a}")
    print(f"Number 2 is: {b}")
    
    print(f"My score is: {sum(args)}")
    
    print(f"kwargs are: {kwargs}")
        
    for key, value in kwargs.items():
        print(f"My {key} is {value}")

In [247]:
printer_function(25, 7, 10, 8, 8, 6, name="Nerea", age=25, city="Mexico DF")

Number 1: 25
Number 2 is: 7
My score is: 32
kwargs are: {'name': 'Nerea', 'age': 25, 'city': 'Mexico DF'}
My name is Nerea
My age is 25
My city is Mexico DF

In [248]:
dict_info = {
    "name": "Nerea",
    "age": 25,
    "city": "Mexico DF"
}

In [249]:
printer_function(25, 7, 10, 8, 8, 6, **dict_info)

Number 1: 25
Number 2 is: 7
My score is: 32
kwargs are: {'name': 'Nerea', 'age': 25, 'city': 'Mexico DF'}
My name is Nerea
My age is 25
My city is Mexico DF

In [250]:
dict_info = {
    "nam": "Santi",
    "ag": 24,
    "cit": "Barcelona",
    "rol":"ta",
    "hobbi":"padel"
}

In [251]:
dict_info_2 = {
    "name": "Santi",
    "age": 24,
    "city": "Barcelona",
    "role":"ta",
    "hobbie":"padel"
}

In [252]:
printer_function(25, 7, 10, 8, 8, 6, 3, 3, 3,3 , **dict_info, **dict_info_2)

Number 1: 25
Number 2 is: 7
My score is: 44
kwargs are: {'nam': 'Santi', 'ag': 24, 'cit': 'Barcelona', 'rol': 'ta', 'hobbi': 'padel', 'name': 'Santi', 'age': 24, 'city': 'Barcelona', 'role': 'ta', 'hobbie': 'padel'}
My nam is Santi
My ag is 24
My cit is Barcelona
My rol is ta
My hobbi is padel
My name is Santi
My age is 24
My city is Barcelona
My role is ta
My hobbie is padel

#### order

`def example(arg1, arg2, *args,**kwargs)`

In [253]:
def a_function (posarg1, posarg2, *args, **kwargs):
    pass

### return

- return gives you something back
- there can be more than one return
- **after a function returns something, the execution STOPS**

`function with return`

In [260]:
def addition_return (a, b):
    return a + b

In [261]:
addition_return (2, 3)

5

`function with no return`: NoneType

In [262]:
def addition_print(a, b):
    print(a + b)

In [263]:
addition_print (2, 3)

5

In [264]:
type(addition_return (2, 3)) # int ? # tuple?

int

In [265]:
type(addition_print (2, 3)) # str ? #

5

NoneType

In [266]:
type(print("ssssss"))

ssssss

NoneType

In [268]:
def addition_noprint_no_return (a, b):
    pass

In [269]:
addition_noprint_no_return(3, 2)

In [270]:
type(addition_noprint_no_return(3, 2))

NoneType

In [271]:
# Functions evalñute to something
   # Either the value on the return
    # or it's NoneType
    # if it's a print: also None

In [ ]:
# NoneType is not equal to 3

`accessing the value of the result of the function`: print & return

In [272]:
def addition (a, b):
    return a + b

In [273]:
addition (3, 5)

8

In [274]:
result = addition (3, 5)

In [276]:
result * 100

800

In [285]:
def greeting (name):
    return f"Hello! My name is {name}"

laura_says = greeting("Laura")
laura_says.upper()

'HELLO! MY NAME IS LAURA'

In [286]:
def greeting (name):
    print(f"Hello! My name is {name}")

In [287]:
laura_says = greeting("Laura")

Hello! My name is Laura

In [288]:
laura_says.upper()

AttributeError: 'NoneType' object has no attribute 'upper'

In [327]:
def salary (gross):
    return round(gross * 0.83/12)

In [328]:
def savings (what_you_earned, expenses):
    save = what_you_earned - expenses
    return save

In [329]:
earnings = salary (28000)

In [330]:
earnings

1937

In [331]:
savings(earnings, 1000)

937

`more than one return`

In [336]:
def password_validator (password):
    
    if len(password) > 8:
        print("long")
        
    if "-" in password:
        print("there's a dash")

In [338]:
password_validator ("ksssssssss-")

long
there's a dash

In [351]:
def password_validator (password):
    
    if len(password) > 8:
        print("BEFORE RETURN")
        return "ok"
        print("AFTER RETURN")
        
    if "-" in password:
        print("BEFORE RETURN")
        return "ok2"
        print("AFTER RETURN")

In [352]:
password_validator ("2-")

BEFORE RETURN

'ok2'

In [353]:
password_validator ("l45678567k-")

BEFORE RETURN

'ok'

In [363]:
def password_validator (password):
    
    if len(password) < 8:
        return False
        
    if "-" not in password:
        return False
    
    return True

In [367]:
def password_validator (password):
    
    if len(password) < 8:
        return False
        
    if "-" not in password:
        return False
    
    else:
        return True

In [364]:
password_validator ("l-")

False

In [365]:
password_validator ("lw12345678")

False

In [366]:
password_validator ("lw12345678-")

True

### Docstrings: documentation strings

- The code is written 1 time.
- The code is read 100 times.
- Help your colleagues understand your work.

![lafoto](https://res.cloudinary.com/highflyer910/image/upload/v1589577574/1_1_httqnc.jpg)

In this example, we have defined a cat function that returns meow. We have declared a docstring that explains what the function does. To get the docstring of a function, we need to display the doc attribute (print(cat.__doc__))
Photo reference, description and more info about docstring [here](https://techiestuff.netlify.app/blog/what-is-a-python-docstring/)

In [391]:
import clean as c
c.addition(2, 3)

5

In [388]:
def addition (a, b):
    """This function takes two arguments
    and returns its sum
    a: int
    b: int
    returns the sum of a and b"""
    return a + b

In [385]:
print(addition.__doc__)

This function takes two arguments
    and returns its sum
    a: int
    b: int
    returns the sum of a and b

### source code

In [387]:
import inspect
print(inspect.getsource(addition))

def addition (a, b):
    """This function takes two arguments
    and returns its sum
    a: int
    b: int
    returns the sum of a and b"""
    return a + b

## Scope of functions

`outer to inner`

In [372]:
def addition (a, b):
    return a + b

a = 10

addition(a, 10)

20

`inner to outter`

In [379]:
def addition (a, b):
    d = a + b
    return c

addition(10, 10)

20

In [380]:
print(d)

NameError: name 'd' is not defined

[Extra: global variables](https://www.w3schools.com/python/python_variables_global.asp)

## Lambda
A lambda function is an anonymous function, with no identifier, that can be declared in place. Since we can take functions as arguments and assign them to variables, the notation that makes it possible to create lambda functions is very handy in many cases.


### Syntax of a lambda
```python
lambda <param list>:<return expression>
```

In [393]:
#"Albany" -> "ALBANY"

string = "Albany"
def uppercase (str_):
    return str_.upper()

uppercase(string)

'ALBANY'

In [394]:
import pandas as pd
df = pd.read_csv("../datasets/avocado_kaggle.csv")
df["region"] = df["region"].apply(lambda x: x.upper())

In [396]:
df["region"] = df["region"].apply(uppercase) # user-defned function

In [397]:
df["region"] = df["region"].apply(lambda x: x.upper()) #lambda: on the spot

In [421]:
df["type"] = df["type"].apply(lambda x: x[:3])

# conventinal -> con
# organic -> org
# str_[:3]

def trimming_words (str_):
    return str_[:3]

In [422]:
df["type"] = df["type"].apply(trimming_words)
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,con,2015,ALBANY
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,con,2015,ALBANY
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,con,2015,ALBANY
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,con,2015,ALBANY
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,con,2015,ALBANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,org,2018,WESTTEXNEWMEXICO
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,org,2018,WESTTEXNEWMEXICO
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,org,2018,WESTTEXNEWMEXICO
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,org,2018,WESTTEXNEWMEXICO
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,org,2018,WESTTEXNEWMEXICO

In [412]:
list_ot_tuples = [("zaragoza", 10000, "b"), ("barcelona", 56767, "z"), ("madrid", 678900000, "a")]

In [413]:
# sort by name of city
sorted(list_ot_tuples)

[('barcelona', 56767, 'z'),
 ('madrid', 678900000, 'a'),
 ('zaragoza', 10000, 'b')]

In [416]:
# sort by number: smaller to bigger
# Goal: [ ('madrid', 678900000), ('barcelona', 56767), ('zaragoza', 10000)]

sorted(list_ot_tuples, key = lambda anything: anything[2])

[('madrid', 678900000, 'a'),
 ('zaragoza', 10000, 'b'),
 ('barcelona', 56767, 'z')]

### lambda examples

### `lambda`  as the option of some other built-in functions

It is also possible to use these anonymous functions as arguments in calls to other functions. For example, in a call to sorted() or list.sort() we can use a lambda function as an argument to the key parameter:

## Functions: functions as return of another function

In [424]:
def greater_function (a, b):
    if a > b:
        return a
    elif b > a:
        return b

In [426]:
greater_function (3, 10)

10

In [427]:
def lesser_function (x, y):
    if x > y:
        return y
    elif y > x:
        return x

In [428]:
lesser_function (3, 10)

3

In [429]:
def comparison (type_of_comparison): # lesser, greater
    if type_of_comparison == "greater":
        return greater_function
    
    elif type_of_comparison == "lesser":
        return lesser_function

In [432]:
comparison("greater")(3, 10)
#greater_function (3, 10)

10

In [433]:
comparison("lesser")(3, 10)

3

In [435]:
def comparison (type_of_comparison): # lesser, greater
    if type_of_comparison == "greater":
        return greater_function
    
    elif type_of_comparison == "lesser":
        return lambda x, y: x if x < y else y

In [436]:
comparison("lesser")(3, 10)

3

## Recursion
It is called recursive call (or recursion), to those functions that in their algorithm, refer to itself.

Recursive calls are usually very useful in very specific cases, but due to their great feasibility of falling into infinite iterations, adequate preventive measures should be taken and only used when strictly necessary and there is no viable alternative way to solve the problem. avoiding recursion.

Python supports recursive calls, allowing a function to call itself, just as it does when calling another function.

In [3]:
def user ():
    
    value = input("Please enter a value less than 5: ")
    
    while int(value) > 5:
        value = input("Please enter a value less than 5: ")
        
    return int(value)

In [4]:
user()

Please enter a value less than 5: 10
Please enter a value less than 5: 10
Please enter a value less than 5: 10
Please enter a value less than 5: 10
Please enter a value less than 5: 10
Please enter a value less than 5: 4

4

`ins't it the same as a while loop?`

In [7]:
def user ():
    
    value = input("Please enter a value less than 5: ")
    
    if int(value) > 5:
        user()
        
    return int(value)

In [8]:
user()

Please enter a value less than 5: 10
Please enter a value less than 5: 3

10

In [9]:
# RecursiveError: loop too big

## Summary
It's your turn. What have we learned today?

- FUNCTIONS...
    - Is a code that does things
    - There's 3 main types of functions
        - built-in
        - user-defined
        - lambda
            - temporary. cannot re-use it
            - on-the spot things (simple things)
            - similar syntax to comprehension lists
            - mostly on pandas; but also some other functions use them `(sorted(iterable, key=lambda...))`
    
- Paradigms for coding
    - imperative
    - OOP
    - functional

- PROCESS
    - 1. define: `def name():`
    - 2. call(): `name()`

- PARAMETERS
    - parameters & arguments
        - params: (placerholder1, placeholder2)
        - arguments: (3, 5)

    - *args: for variable number of arguments
    - ** kwargs: for variable number of keys
    - parameters: default
        - `param_default=30`


- RETURN
    - It stops the code after read/executed
        - watch out for loops
        - multiple conditions
    - You can store the result in a var if you have a return
    - You can return variables & functions
    - Return vs print
        - Return: value/something
        - print gives you NoneType. Can't do anything with that :/
- SCOPE
    - What happens in the function, stays in the function
        - unless you save it into the return
        
        def addition (a, b):
            something = a + b
            return something
            
        result = addition(3, 5)

- CALLING FUNCTIONS
    - inside of other functions
    - make functions call themselves

- DOCSTRINGS
    - description of the function
        - what it does
        - the parms it takes
        - what it returns